# PCA on MNIST Dataset followed by its visualization

In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv("digit_train.csv")

In [33]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df_x = df.drop(["label"], axis=1)
df_labels = df["label"]

In [35]:
df_x.shape

(42000, 784)

### 1) Compute standardization of data

In [36]:
from sklearn.preprocessing import StandardScaler
standardized_scalar = StandardScaler()
standardized_data = standardized_scalar.fit_transform(df_x)
standardized_data.shape

C:\Users\paras\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\paras\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

(42000, 784)

### 2) Calculate covariance matrix S(dxd)

In [37]:
cov_matrix = np.matmul(standardized_data.T, standardized_data)
cov_matrix.shape

(784, 784)

### 3) Calculate Eigen values and eigen vectors

### 4) Calculate unit vectors U1=V1

In [38]:
from scipy.linalg import eigh

In [39]:
lambdas, vectors = eigh(cov_matrix, eigvals=(782, 783))
vectors.shape

(784, 2)

In [40]:
vectors = vectors.T
vectors.shape

(2, 784)

In [41]:
new_coordinates = np.matmul(vectors, standardized_data.T)
new_coordinates.shape

(2, 42000)

In [43]:
new_coordinates = np.vstack((new_coordinates, df_labels)).T

In [45]:
df_new = pd.DataFrame(new_coordinates, columns=["f1", "f2", "labels"])
df_new.head()

         f1         f2  labels
0 -5.226445  -5.140478     1.0
1  6.032996  19.292332     0.0
2 -1.705813  -7.644503     1.0
3  5.836139  -0.474207     4.0
4  6.024818  26.559574     0.0